<!-- Navbar -->
<nav class="navbar">
  <div class="container">
    <img src="../../assets/logo.png" alt="Logo" height="50">
    @if(isAuthenticated() || isEmployeeRoute()){
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a logout">
        <mat-icon class="icon">account_circle</mat-icon>
      </button>
      <!-- Verifica que mat-menu esté correctamente asociado al botón utilizando la directiva matMenuTriggerFor -->
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Salir</button>
      </mat-menu>
    }
  </div>
</nav>

