.demo-table {
    width: 100%;
    max-width: 90%;
    margin: 0px auto;
    padding: 2rem 3rem;
    margin: auto;
    border-radius: 2.5rem;
    border-bottom:10px solid #23DCC5;
    background-color: rgba(192, 95, 147, 0.23);
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
    color: black;
}
.table-container {
    width: 100%;
    min-width: 20%;
    max-width: 90%;
    max-height: 500px; /* Altura máxima de la tabla */
    overflow-y: auto; /* Hacer que se muestre una barra de desplazamiento vertical si es necesario */
}

.mat-column-demo-position {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}

.mat-column-demo-name {
    padding-left: 16px;
    font-size: 20px;
}

.mat-column-demo-lastname {
    padding-left: 16px;
    font-size: 20px;
}

.mat-column-demo-run {
    font-size: 20px;
    text-align: center;
}

.register{
    float: right;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background-color: rgba(187, 16, 108, 0.68);
    width: 20%;
    min-width: 10rem;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
    margin-right: 5rem;
    margin-bottom: 1rem;
}
h1 {
    margin-left: 5rem;
    margin-top: 1rem;
}
.mat-mdc-header-row{
    font-weight: bold;
    color: #BB106C;
}

/* Estilos para hacer la tabla responsive en dispositivos móviles */
@media screen and (max-width: 600px) {
    .demo-table {
        padding: 1rem;
    }
}